{% extends 'widget/minibasket/minibasket.html.twig' %}

{% block widget_minibasket_total %}
    {{ parent() }}

    {% set sAmazonButtonId = _prefix|cat("LoginWithAmazonMiniBasket") %}

    {% if oViewConf.fcpoCanDisplayAmazonPayButton() %}
        <p class="functions clear text-right">
            {% include "@fcpayone/frontend/" ~ oViewConf.getActiveTheme() ~ "/fcpayone_amazon_paybutton.html.twig" with {sAmazonButtonId: sAmazonButtonId, sAmazonButtonClass: "payone_basket_amazon_btn_flow_minibasket"} %}
        </p>
    {% endif %}
{% endblock %}
