{% if oViewConf.getActiveClassName() == 'basket' %}
    {% if oView.fcpoGetPayPalExpressPic() %}
        <form autocomplete="off" action="{{ oViewConf.getSslSelfLink()|raw }}" method="post">
            {{ oViewConf.getHiddenSid()|raw }}
            <input type="hidden" name="cl" value="basket">
            <input type="hidden" name="fnc" value="fcpoUsePayPalExpress">
            <input type="image" src="{{ oView.fcpoGetPayPalExpressPic()|raw }}">
        </form>
    {% endif %}
{% endif %}
